<nav>
	<p>cq</p>
	<img id="nav-avtar" src="/files/<%=data[0].imgpath%>" alt="">
	<span><%=data[0].name%></span>
</nav>
<div id="menu">
	<div class="menu-item" id="sideBtn"><i class="fa fa-bars"></i><span>cq</span></div>
	<div class="menu-item"><i class="fa fa-home"></i><span>Home</span></div>
	<div class="menu-item"><i class="fa fa-plus-square"></i><span>Add User</span></div>
	<div class="menu-item"><i class="fa fa-list-ul"></i><span>Users List</span></div>
	<div class="menu-item"><i class="fa fa-list-alt"></i><span>Community List</span></div>
	<div class="menu-item"><i class="fa fa-toggle-off"></i><span>Switch As User</span></div>
	<div class="menu-item"><i class="fa fa-tags"></i><span>Tag Panel</span></div>
	<div class="menu-item"><i class="fa fa-lock"></i><span>Change Password</span></div>
	<div class="menu-item"><i class="fa fa-sign-out"></i><span>Logout</span></div>
</div>
<script>
	var dbData;
	var menu = document.getElementById("menu");
	var sideBtns = menu.getElementsByClassName("menu-item")
	dbData = <%- JSON.stringify(data[0]) %>;
	if("<%=data[0].role%>" == 'user') {	
		sideBtns[4].addEventListener("click", function(){
			alert("Hello world")
		});
	} else {	
		sideBtns[4].addEventListener("click", function(){	
			window.location = "/communityList";
		});
	}
	if(dbData.role == "user") {
		sideBtns[2].style.display = "none";
		sideBtns[3].style.display = "none";
		sideBtns[5].style.display = "none";
		sideBtns[6].style.display = "none";
	}
	
</script>